@{
    ViewBag.Title = "Contact BugTracker";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BugTracker<br />
    1231 Shields Road Suite 5
    Kernersville, NC 27284<br />
    <abbr title="Phone">P:</abbr>
    336.701.1957
</address>

    @*SendGrid Form for Emails*@
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3 class="">Contact</h3>
        <form class="content-panel" action="@Url.Action("Contact", "Home")" method="post" name="ContactsForm">
            <div class="controls">
                <input id="name" name="name" type="text" class="input-block-level footer-input" placeholder="Name">
            </div>
            <div class="controls">
                <input id="subject" name="subject" type="text" class="input-block-level footer-input" placeholder="Subject">
            </div>
            <div class="controls">
                <input id="email" name="email" type="email" class="input-block-level footer-input" placeholder="Email address">
            </div>
            <div class="controls">
                <textarea id="message" name="message" class="input-block-level footer-input" placeholder="Your Message" rows="5"></textarea>
            </div>
            <div class="controls">
                <button id="contact-submit" type="submit" class="btn blue input-medium pull-right">Send</button>
            </div>
        </form>
    </div>
