@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/img/bugtracker-icon.png" class="col-md-2" />
    <h1>BugTracker</h1>
    <p class="lead">BugTracking is online software for professional teams.</p>
</div>
<h2>Demo BugTracker</h2>
<div class="row">
    <div class="col-md-3">
            <form action="@Url.Action("AdminLogin", "Account", new { autoLogin = "Administrator" })" method="post">
                @Html.AntiForgeryToken()
                <button class="btn btn-default btn-primary btn-large" type="submit">Demo BugTracker Now!</button>
                <br /><br />
            </form>
</div>
</div>
<div class="row"></div>