@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/img/bugtracker-icon.png" class="col-md-2" />
    <h1>BugTracker</h1>
    <p class="lead">Bug Tracking for Professional Teams</p>
    <p><a href="http://weiserp-bugtracker.azurewebsites.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web-based tracking application</h2>
        <p>
            BugTracker requires no installation.  Sign up, sign in, and your team can begin collaboration.
        </p>
        <p><a class="btn btn-default" href="http://weiserp-bugtracker.azurewebsites.net/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work together in teams</h2>
        <p>The best method for project teams, professional developers, customer care teams and business units to work together. </p>
        <p><a class="btn btn-default" href="http://weiserp-bugtracker.azurewebsites.net/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Product features</h2>
            <p>
                <ul>
                    <li>High-level overview of issue statistics</li>
                    <li>Standard and custom filters</li>
                    <li>Project-specific email notifications</li>
                </ul>
            </p>
            <p><a class="btn btn-default" href="http://weiserp-bugtracker.azurewebsites.net/">Learn more &raquo;</a></p>
</div>
</div>