@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/img/bugtracker-icon.png" class="col-md-2" />
    <h1>BugTracker</h1>
    <p class="lead">Bug Tracking for Professional Teams</p>
    <p><a href="http://weiserp-bugtracker.azurewebsites.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Demo the site</h2>
        <p>
            Fix Bugs Fast and Ship Great Software.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Extensive installed base</h2>
        <p>BugTracker has a large installed base, meaning a mature produce.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Embeded help</h2>
        <p>Online help files for ease of training by your users.</p>
    </div>
</div>