@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/img/bugtracker-icon.png" class="col-md-2" />
    <h1>BugTracker</h1>
    <p class="lead">Bug Tracking for Professional Teams</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Sample BugTracker as Administrator</h2>
            <form action="@Url.Action("AdminLogin","Account",null)" method="post">
                @Html.AntiForgeryToken()
                <button class="btn btn-default glyphicon glyphicon-thumbs-up" type="submit">Login As Administrator</button>
            </form>
    </div>
</div>