@{
    ViewBag.Title = "Tour";
}

<h2>Tour</h2>
<script src="~/Scripts/jquery-impromptu.min.js"></script>
<div class="row">
    <div class="container">
        <div class="row clearfix">
            @*javascript begin here for Tour*@
        </div>
    </div>
</div>
<script src="~/Scripts/Tour.js"></script>
